<div class="mt-4">
    <form action="" method="POST">
        <div class="form-group">
            <label for="search-input">Key Words</label>
            <input
                type="text"
                name="q"
                class="form-control mt-2"
                id="search-input"
                placeholder="Enter key words..."
            />
        </div>

        <div class="form-group mt-3">
            <label for="gender-input">Key Words</label>
            <select name="gender" class="form-control mt-2" id="gender-input">
                <option value="">-- Choose Gender --</option>
                <option value="">Female</option>
                <option value="">Male</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-4">Submit</button>
    </form>
</div>